h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.navigation-header {
  display: flex;
  align-items: center;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-header-left {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-header-right {
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.navigation-ul {
  display: flex;
}
.navigation-ul li {
  margin-right: 40px;
}
.navigation-ul li:last-child {
  margin-right: 0;
}
.adress-header-ul {
  display: block;
}
.adress-header-ul li {
  margin-right: 40px;
}
.adress-header-ul li:last-child {
  margin-right: 0;
}
.nav-item-a:hover,
.nav-item-a:focus {
  color: #404bbf;
}

.nav-item-a {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.adress-header {
  font-style: normal;
}
.adress-header-ul {
  display: flex;
}
.adress-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 24px;
}
.adress-item:hover,
.adress-item:focus {
  color: #404bbf;
}
.section-first {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.section-first-h-one {
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.button-first {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
}
.button-first:hover,
.button-first:focus {
  background-color: #404bbf;
}
.section-about-us {
  padding-bottom: 120px;
  padding-top: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-about-us-ul {
  display: flex;
  gap: 24px;
}
.section-about-us-ul-li {
  width: calc((100% - 72px) / 4);
}

.h-two-list-one {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.h-about-us {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.p-about-us {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-our-team {
  background-color: #f4f4fd;
  padding-bottom: 120px;
  padding-top: 120px;
}
.our-team-ul {
  display: flex;
  gap: 24px;
  text-align: center;
}
.item-section-our-team {
  background-color: #ffffff;
  width: calc((100%-72px) / 4);
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
}
.about-person {
  padding: 32px 0;
}
.h-three-our-team {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 32px;
  margin-bottom: 8px;
}
.p-our-team {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-our-portfolio {
  padding-bottom: 120px;
  padding-top: 120px;
}
.our-portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-bottom: 32px;
}
.our-portfolio-ul-li {
  width: calc((100% - 48px) / 3);
}


.our-portfolio-ul-li > div {
  border: 1px solid #e7e9fc;
  border-top: none;
}
.name-portfolio {
  padding: 32px 16px;
}

.h-three-our-portfolio {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
}
.p-our-portfolio {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-first-list {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-footer-left {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 102px;
  padding-bottom: 18px;
  display: inline-block;
  margin-bottom: 16px; 
}
.logo-footer-right {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.p-footer {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-bottom: 100px;
}
